body {
	background-color: #36393D;
}

#wrapper {
	margin: auto;
	text-align: center;
	width: 550px;
}

form {
	display: inline-block;
}

#submit {
	display: inline-block;
}

.hoverpad {
	background-color: #36393D;
	height: 550px;
	width: 550px;
	margin: 20px auto;
  margin-bottom: 0px;
	text-align: center;
}

.row {
  width: 550px;
  margin: 15px 0px;
  border-radius: 5px;
  padding-bottom: 5px;
  background-color: #CDEB8B;
}

h1 {
  margin: 10px 0 -15px 0;
  color: #ebe7de;
}

.colors {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 50px;
  margin: 2px 1px 0 1px;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

#blue {
  background-color: blue;
}