body {
	background-color: #36393D;
}

#wrapper {
	margin: auto;
	text-align: center;
	width: 550px;
}

form {
	display: inline-block;
}

#submit {
	display: inline-block;
}

.hoverpad {
	background-color: #36393D;
	height: 550px;
	width: 550px;
	margin: 30px auto;
  margin-bottom: 0px;
	text-align: center;
}

.row {
  width: 550px;
  margin: 30px 0px;
  border-radius: 5px;
  padding-bottom: 5px;
  background-color: #CDEB8B;
}