main {
  text-align: center;
}

main h1 {
  text-align: left;
  margin-left: 30px;
}

.form-control {
  width: 200px;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: auto;
  margin-left: auto;
}

#back {
  text-decoration: none;
  color: #333;
}

.list-group {
  font-size: 2rem;
  margin-top: 0px;
  margin-bottom: 2px;
}

#heading {
  font-size: 2.5rem;
}

#nav-add-contacts {
  margin-right: 15px;
}

#heading-link {
  text-decoration: none;
}

#heading-link:visited {
  color: #777;
}

#heading-link:hover {
  color: #555;
}