<section class="contact-create">
  <h2>Edit <%= @contact.first_name %> <%= @contact.last_name %> ?</h2>

  <div class="form-container">
    <form action="/<%= @contact.id %>" method="post">
      <input name="_method" value="put" type="hidden"/>
      <div class="field">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" placeholder="Sam" class="form-control" id="first_name">
      </div>
      <div class="field">
      <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" placeholder="Kim" class="form-control" id="last_name">
      </div>
      <div class="field">
      <label for="phone_number">Phone Number:</label>
        <input type="text" name="phone_number" placeholder="416-111-1234" class="form-control" id="phone_number">
      </div>
      <div class="field">
      <label for="email">E-Mail:</label>
        <input type="text" name="email" placeholder="hello@example.com" class="form-control" id="email">
      </div>
      <div class="field">
      <label for="social_media">Twitter:</label>
        <input type="text" name="social_media" placeholder="@hellosamkim" class="form-control" id="social_media">
      </div>
      <div class="button-section">
        <button class="btn btn-default"><a href="/" id="back">Back</a></button>
        <input type="submit" name="submit" class="btn btn-default" value="Edit">
      </div>
    </form>
  </div>
</section>