<h2>Create new Contact</h2>

<form action="/" method="post">
  <input type="text" name="first_name" placeholder="First Name" class="form-control">
  <input type="text" name="last_name" placeholder="Last Name" class="form-control">
  <input type="text" name="phone_number" placeholder="Phone Number" class="form-control">
  <input type="text" name="email" placeholder="E-mail" class="form-control">
  <input type="text" name="social_media" placeholder="Social Media" class="form-control">
  <input type="submit" name="submit" class="btn btn-default">
</form>