body {
  background-color: rgba(255, 248, 243, 0.8);
}
.title h1 {
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;
  margin-top: -5px;
  font-size: 70px;
}

.game {
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
  width: 468px;
  height: 468px;
}

.rows {
  width: 468px;
}

.boxes {
  font-family: "Arial", sans-serif;
  height: 150px;
  width: 150px;
  border: 3px solid rgba(255, 248, 243, 0.8);
  background-color: rgba(158, 177, 201, 0.4);
  float: left;
  text-align: center;
  font-size: 150px;
  line-height: 150px;
}

.game-menu {
  text-align: center;
  margin-top: 20px;
}

#player-x {
  color: rgba(92, 221, 92, 0.6);
}